<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Message Form</title>
</head>
<body>

<!-- we use *  to POST data and  $ to GET data i.e. *{varName} & i${varName}  -->
	<form action="#" th:action="@{/addcustomer}" th:object="${customer}" method="post">
		<p>Enter the customer id  : <input type="text" th:field="*{custId}"/></p>
		<p>Enter the customer name  : <input type="text" th:field="*{customerName}"/></p>
		<p><input type="submit" value="Submit"/></p>
	</form>
	
</body>
</html>